body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.bg-banner {
    background: url('../img/bg.webp') center top no-repeat #000000;
    background-size: contain;
}

.bg-faturar {
    background: url('../img/bg-white.webp') repeat-x center top, url('../img/bg.webp') center top repeat #ffffff;
    background-size: 10%, contain;
}

.bg-duvida {
    background: url('../img/bg.webp') center top repeat #000000;
    background-size: cover;
}

@media (min-width: 992px) { 

    .bg-banner {
        background: url('../img/bg.webp') center top repeat #000000;
        background-size: cover;
    }

    .bg-faturar {
        background: url('../img/bg-white.webp') repeat-x center top, url('../img/bg.webp') center top repeat #ffffff;
        background-size: 2%, cover;
    }

    .bg-duvida {
        background: url('../img/bg.webp') center top repeat #000000;
        background-size: cover;
    }
}